@use "./style/base.scss" as *;

.menucontainer {
  .menu {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 20px;
    }

    &__buttons {
      margin: auto;
    }
  }
}
