@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Fredoka+One&display=swap");

$primarycolour: #e6e6fa;
$secondarycolour: #89cff0;
$tertiarycolour: #f08080;

$primaryfont: Fredoka One, arial, comic;
$secondaryfont: Dyna Puff, arial, comic;

* {
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: $primaryfont;
  color: $secondarycolour;
}

body {
  background-image: url("./sweetsBackground.png");
  background-repeat: no-repeat;
}

button {
  border-radius: 20px;
  border: 2px solid $secondarycolour;
  padding: 10px;
  background: $primarycolour;
  box-shadow: 5px 2px 5px 1px #595953;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  height: 5vw;
  margin: 20px;
  display: flex;
}

p {
  font-size: small;
}

@media screen and (min-width: 1440px) {
  .menuContainer {
    .menu {
      height: 400px !important;
      width: 400px !important;
      margin-top: 100px !important;
    }
  }
  footer {
    margin: 0;
  }
}
