@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Fredoka+One&display=swap");

$primarycolour: #e6e6fa;
$secondarycolour: #89cff0;
$tertiarycolour: #f08080;
$fourthcolour: #fbfaf5;

$primaryfont: Fredoka One, arial, comic;

$bigfontsize: 70px;

//This area styles all elements
* {
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: $primaryfont;
  color: $secondarycolour;
}
//This area is styling the background
body {
  background-image: url("../assets/sweetsBackground.png");
  background-repeat: no-repeat;
}
//This area styles the buttons
button {
  border-radius: 20px;
  border: 2px solid $secondarycolour;
  padding: 10px;
  background: $primarycolour;
  box-shadow: 5px 2px 5px 1px #595953;
}
//This area styles the footer
footer {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  height: 5vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
//This area styles all paragraph areas
p {
  font-size: small;
}
