@use "./base.scss" as *;

.home {
  display: flex;
  margin: 30px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.menucontainer {
  .menu {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 20px;
    }

    &__buttons {
      margin: auto;
    }
  }
}

.infoContainer {
  .info {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 200;
      text-decoration: underline;
    }

    &__button {
      margin-top: 10px;
    }
  }
}
