@use "./base.scss" as *;

.game {
  &__img {
    position: relative;
    margin: auto;
    width: 60vh;
    height: 60vw;
  }

  &__marty {
    position: absolute;
    right: 200px;
    bottom: 170px;
    margin: auto;
    width: 60vw;
    height: 60vw;
  }
  &__clueOne {
    position: absolute;
    top: 200px;
    right: 200px;
    //opacity: 0%;
  }
  &__clueTwo {
    position: absolute;
    top: 200px;
    left: 260px;
    //opacity: 0%;
  }
  &__clueThree {
    position: absolute;
    top: 250px;
    left: 120px;
    //opacity: 0%;
  }
  &__clueFour {
    position: absolute;
    top: 160px;
    left: 130px;
    //opacity: 0%;
  }
}

.clueContainer {
  .clue {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 200;
      text-decoration: underline;
    }

    &__number {
      margin-left: 150px;
      font-size: large;
      color: $fourthcolour;
    }
  }
}

.input {
  .input__code {
    position: absolute;
    left: 160px;
  }
}
