@use "./base.scss" as *;

.home {
  &__refresh {
    position: absolute;
  }
}

.game {
  &__img {
    position: relative;
    margin: auto;
    width: 60vh;
    height: 60vw;
  }

  &__marty {
    position: absolute;
    right: 200px;
    bottom: 170px;
    margin: auto;
    width: 60vw;
    height: 60vw;
  }
  &__clueOne {
    position: absolute;
    top: 200px;
    right: 200px;
    //opacity: 0%;
  }
  &__clueTwo {
    position: absolute;
    top: 200px;
    left: 260px;
    //opacity: 0%;
  }
  &__clueThree {
    position: absolute;
    top: 250px;
    left: 120px;
    //opacity: 0%;
  }
  &__clueFour {
    position: absolute;
    top: 160px;
    left: 130px;
    //opacity: 0%;
  }
}

.input {
  .input__code {
    position: absolute;
  }
}

.clueContainer {
  .clue {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 200;
      text-decoration: underline;
    }

    &__number {
      margin-left: 150px;
      font-size: large;
      color: $fourthcolour;
    }
  }
}

.input {
  .input__code {
    position: absolute;
    left: 190px;
  }
}

@media screen and (min-width: 425px) {
  .home {
    &__refresh {
      right: 300px;
      top: 20px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 25px;
    }
  }

  .game {
    &__img {
      width: 70vh;
      height: 70vw;
    }

    &__refresh {
      font-size: 60px;
    }
    &__marty {
      right: 270px;
      bottom: 50px;
    }

    &__clueOne {
      right: 290px;
      top: 230px;
    }

    &__clueTwo {
      top: 270px;
      left: 290px;
    }

    &__clueThree {
      top: 295px;
      left: 150px;
    }

    &__clueFour {
      top: 160px;
      left: 180px;
    }
  }
  .input {
    &__code {
      font-size: 17px;
      left: 402px;
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    justify-content: center;
    &__refresh {
      right: 600px;
      top: 20px;
    }

    &__title {
      margin-bottom: 25px;
      margin-left: 20px;
      font-size: 40px;
    }
  }

  .game {
    &__img {
      width: 120vh;
      height: 50vw;
    }

    &__marty {
      right: 490px;
      top: 530px;
    }

    &__clueOne {
      right: 530px;
      top: 250px;
    }

    &__clueTwo {
      top: 320px;
      left: 550px;
    }

    &__clueThree {
      top: 348px;
      left: 290px;
    }

    &__clueFour {
      top: 172px;
      left: 345px;
    }
  }
  .input__code {
    font-size: 20px;
    margin-left: 240px;
  }
}
