@use "./base.scss" as *;

.home {
  &__refresh {
    position: absolute;
    right: 250px;
    top: 40px;
  }
  &__title {
    margin-left: 60px;
  }
}

.game {
  &__img {
    position: relative;
    margin: auto;
    width: 60vh;
    height: 60vw;
  }

  &__marty {
    position: absolute;
    right: 200px;
    bottom: 170px;
    margin: auto;
    width: 60vw;
    height: 60vw;
  }
  &__clueOne {
    position: absolute;
    top: 195px;
    right: 210px;
    opacity: 0%;
  }
  &__clueTwo {
    position: absolute;
    top: 235px;
    left: 274px;
    opacity: 0%;
  }
  &__clueThree {
    position: absolute;
    top: 245px;
    left: 140px;
    opacity: 0%;
  }
  &__clueFour {
    position: absolute;
    top: 160px;
    left: 170px;
    opacity: 0%;
  }
  &__happyMarty {
    width: 110vw;
    height: 60vh;
  }
}

.input {
  .input__code {
    position: absolute;
  }
}

.clueContainer {
  .clue {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vw;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    background-color: $tertiarycolour;
    box-shadow: 5px 2px 5px 1px #595953;

    &__heading {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 200;
      text-decoration: underline;
    }

    &__number {
      margin-left: 150px;
      font-size: large;
      color: $fourthcolour;
    }
  }
}

.input {
  .input__code {
    position: absolute;
    left: 190px;
  }
}

//Responsive Area

@media screen and (min-width: 375px) {
  .home {
    &__refresh {
      right: 280px;
      top: 30px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 25px;
    }
  }

  .game {
    &__img {
      width: 70vh;
      height: 70vw;
    }

    &__refresh {
      font-size: 60px;
    }
    &__marty {
      right: 235px;
      bottom: 120px;
    }

    &__clueOne {
      right: 250px;
      top: 200px;
    }

    &__clueTwo {
      top: 250px;
      left: 320px;
    }

    &__clueThree {
      top: 265px;
      left: 170px;
    }

    &__clueFour {
      top: 145px;
      left: 200px;
    }
  }
  .input {
    &__code {
      font-size: 17px;
    }
  }
  .clueContainer {
    .clue {
      &__heading {
        font-size: 25px;
      }
      &__info {
        margin-top: 3px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .home {
    &__refresh {
      right: 300px;
      top: 20px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 25px;
    }
  }

  .game {
    &__img {
      width: 70vh;
      height: 70vw;
    }

    &__refresh {
      font-size: 60px;
    }
    &__marty {
      right: 270px;
      bottom: 50px;
    }

    &__clueOne {
      right: 290px;
      top: 230px;
    }

    &__clueTwo {
      top: 270px;
      left: 290px;
    }

    &__clueThree {
      top: 295px;
      left: 150px;
    }

    &__clueFour {
      top: 160px;
      left: 180px;
    }
    &__happyMarty {
      width: 110vw;
      height: 80vh;
    }
  }
  .input {
    &__code {
      font-size: 17px;
      left: 402px;
    }
  }
  .clueContainer {
    .clue {
      &__heading {
        font-size: 40px;
      }
      &__info {
        margin-top: 20px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    &__refresh {
      right: 600px;
      top: 20px;
    }

    &__title {
      margin: auto;
      font-size: 40px;
    }
  }

  .game {
    &__img {
      width: 120vh;
      height: 50vw;
    }

    &__marty {
      right: 490px;
      top: 530px;
    }

    &__clueOne {
      right: 530px;
      top: 250px;
    }

    &__clueTwo {
      top: 320px;
      left: 550px;
    }

    &__clueThree {
      top: 348px;
      left: 290px;
    }

    &__clueFour {
      top: 172px;
      left: 345px;
    }
    &__happyMarty {
      width: 70vw;
      height: 80vh;
    }
  }
  .input__code {
    font-size: 20px;
    margin-left: 240px;
  }
  .clueContainer {
    margin-top: 60px;
    .clue {
      width: 350px;
      height: 350px;
      &__heading {
        font-size: 50px;
      }
      &__info {
        margin-top: 40px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    &__refresh {
      right: 855px;
      top: 20px;
    }

    &__title {
      font-size: 40px;
    }
  }

  .game {
    &__img {
      width: 166vh;
      height: 40vw;
    }

    &__marty {
      width: 350px;
      height: 365px;
      right: 790px;
      top: 550px;
    }

    &__clueOne {
      right: 730px;
      top: 240px;
    }

    &__clueTwo {
      top: 315px;
      left: 755px;
    }

    &__clueThree {
      top: 335px;
      left: 400px;
    }

    &__clueFour {
      top: 160px;
      left: 470px;
    }
    &__happyMarty {
      width: 70vw;
      height: 90vh;
    }
  }
  .input__code {
    font-size: 30px;
    margin-left: 470px;
  }
}

@media screen and (min-width: 1440px) {
  .home {
    &__refresh {
      right: 1270px;
      top: 25px;
    }

    &__title {
      font-size: 45px;
    }
  }

  .game {
    &__img {
      width: 180vh;
      height: 30vw;
    }

    &__marty {
      right: 1059px;
      top: 495px;
    }

    &__clueOne {
      right: 970px;
      top: 245px;
    }

    &__clueTwo {
      top: 335px;
      left: 978px;
    }

    &__clueThree {
      top: 355px;
      left: 590px;
    }

    &__clueFour {
      top: 170px;
      left: 674px;
    }
    &__happyMarty {
      width: 50vw;
      height: 90vh;
    }
  }
  .input__code {
    font-size: 30px;
    margin-left: 723px;
  }
}

@media screen and (min-width: 1920px) {
  .home {
    &__refresh {
      right: 1710px;
      top: 15px;
    }

    &__title {
      font-size: 60px;
    }
  }

  .game {
    &__img {
      width: 180vh;
      height: 40vw;
    }

    &__marty {
      width: 30vw;
      height: 60vh;
      right: 1500px;
      top: 750px;
    }

    &__clueOne {
      font-size: $bigfontsize;
      right: 1350px;
      top: 370px;
    }

    &__clueTwo {
      font-size: $bigfontsize;
      top: 540px;
      left: 1370px;
    }

    &__clueThree {
      font-size: $bigfontsize;
      top: 542px;
      left: 781px;
    }

    &__clueFour {
      font-size: $bigfontsize;
      top: 211px;
      left: 916px;
    }
    &__happyMarty {
      width: 40vw;
      height: 80vh;
    }
  }
  .input__code {
    font-size: 40px;
    margin-left: 1150px;
  }
  .clueContainer {
    margin-top: 150px;
    .clue {
      width: 400px;
      height: 400px;
      &__heading {
        font-size: 50px;
      }
      &__info {
        margin-top: 80px;
        font-size: 20px;
      }
      &__number {
        font-size: 40px;
        margin-left: 300px;
      }
    }
  }
}
