@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Fredoka+One&display=swap");
* {
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: Fredoka One, arial, comic;
  color: #89cff0;
}

body {
  background-image: url("./sweetsBackground.png");
  background-repeat: no-repeat;
}

button {
  border-radius: 20px;
  border: 2px solid #89cff0;
  padding: 10px;
  background: #e6e6fa;
  box-shadow: 5px 2px 5px 1px #595953;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  height: 5vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

p {
  font-size: small;
}

.home {
  display: flex;
  margin: 30px;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.menucontainer .menu {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  margin: auto;
  padding: auto;
  border-radius: 20px;
  background-color: #f08080;
  box-shadow: 5px 2px 5px 1px #595953;
}
.menucontainer .menu__heading {
  margin-top: 20px;
}
.menucontainer .menu__buttons {
  display: flex;
  margin: auto;
}

.infoContainer .info {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vw;
  margin: auto;
  padding: auto;
  border-radius: 20px;
  background-color: #f08080;
  box-shadow: 5px 2px 5px 1px #595953;
}
.infoContainer .info__heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  text-decoration: underline;
}

@media screen and (min-width: 425px) {
  button {
    padding: 20px 30px;
    margin-bottom: 30px;
    font-size: large;
  }

  .home__title {
    font-size: 30px;
  }
  .home__button {
    position: absolute;
    top: auto;
    right: 350px;
    padding: 10px;
    margin-bottom: 0px;
  }

  .menuContainer {
    flex-direction: column;
  }
  .menuContainer .menu {
    height: 300px !important;
    width: 300px !important;
  }
  .menuContainer .menu__heading {
    font-size: 30px;
  }
  .menuContainer .menu__buttons {
    flex-direction: column;
    padding: 20px 30px;
    margin-bottom: 30px;
    font-size: large;
  }

  .infoContainer .info {
    height: 250px !important;
    width: 250px !important;
  }
  .infoContainer .info__heading {
    font-size: 30px;
  }
  .infoContainer .info__instruction {
    margin-top: 20px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .home__button {
    right: 630px;
    font-size: 30px;
  }

  footer .footer__links {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1024px) {
  button {
    font-size: 25px;
  }

  .home__title {
    margin-bottom: 60px;
  }
  .home__button {
    right: 850px;
    font-size: 30px;
  }

  .infoContainer .info {
    width: 30vw !important;
    height: 30vw !important;
  }
  .infoContainer .info__heading {
    margin: 10px;
  }
  .infoContainer .info__instruction {
    margin: 40px;
    font-size: 17px;
  }

  .menuContainer .menu {
    height: 400px !important;
    width: 400px !important;
  }

  footer .footer__links {
    margin-left: 600px;
  }
}
@media screen and (min-width: 1440px) {
  .home__title {
    margin-bottom: 40px;
  }
  .home__button {
    right: 1300px;
  }

  .menuContainer .menu {
    height: 400px !important;
    width: 400px !important;
    margin-top: 30px;
  }

  .infoContainer .info {
    width: 25vw !important;
    height: 25vw !important;
  }

  footer .footer__note {
    font-size: larger;
  }
  footer .footer__links {
    margin-left: 950px;
  }
}
@media screen and (min-width: 1920px) {
  button {
    font-size: 40px;
  }

  .home__title {
    margin-bottom: 110px;
    font-size: 90px;
  }
  .home__button {
    right: 1700px;
    bottom: 850px;
    font-size: 50px;
  }

  .menuContainer .menu {
    width: 30vw !important;
    height: 50vh !important;
  }
  .menuContainer .menu__heading {
    font-size: 80px;
  }

  .infoContainer .info {
    width: 20vw !important;
    height: 35vh !important;
  }

  footer .footer__links {
    margin-left: 1400px;
  }
}
.home__refresh {
  position: absolute;
}

.game__img {
  position: relative;
  margin: auto;
  width: 60vh;
  height: 60vw;
}
.game__marty {
  position: absolute;
  right: 200px;
  bottom: 170px;
  margin: auto;
  width: 60vw;
  height: 60vw;
}
.game__clueOne {
  position: absolute;
  top: 200px;
  right: 200px;
}
.game__clueTwo {
  position: absolute;
  top: 200px;
  left: 260px;
}
.game__clueThree {
  position: absolute;
  top: 250px;
  left: 120px;
}
.game__clueFour {
  position: absolute;
  top: 160px;
  left: 130px;
}

.input .input__code {
  position: absolute;
}

.clueContainer .clue {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vw;
  margin: auto;
  padding: auto;
  border-radius: 20px;
  background-color: #f08080;
  box-shadow: 5px 2px 5px 1px #595953;
}
.clueContainer .clue__heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
  text-decoration: underline;
}
.clueContainer .clue__number {
  margin-left: 150px;
  font-size: large;
  color: #fbfaf5;
}

.input .input__code {
  position: absolute;
  left: 190px;
}

@media screen and (min-width: 425px) {
  .home__refresh {
    right: 300px;
    top: 20px;
  }
  .home__title {
    margin-bottom: 25px;
    font-size: 25px;
  }

  .game__img {
    width: 70vh;
    height: 70vw;
  }
  .game__refresh {
    font-size: 60px;
  }
  .game__marty {
    right: 270px;
    bottom: 50px;
  }
  .game__clueOne {
    right: 290px;
    top: 230px;
  }
  .game__clueTwo {
    top: 270px;
    left: 290px;
  }
  .game__clueThree {
    top: 295px;
    left: 150px;
  }
  .game__clueFour {
    top: 160px;
    left: 180px;
  }

  .input__code {
    font-size: 17px;
    left: 402px;
  }
}
@media screen and (min-width: 768px) {
  .home {
    justify-content: center;
  }
  .home__refresh {
    right: 600px;
    top: 20px;
  }
  .home__title {
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 40px;
  }

  .game__img {
    width: 120vh;
    height: 50vw;
  }
  .game__marty {
    right: 490px;
    top: 530px;
  }
  .game__clueOne {
    right: 530px;
    top: 250px;
  }
  .game__clueTwo {
    top: 320px;
    left: 550px;
  }
  .game__clueThree {
    top: 348px;
    left: 290px;
  }
  .game__clueFour {
    top: 172px;
    left: 345px;
  }

  .input__code {
    font-size: 20px;
    margin-left: 240px;
  }
}